accelerate==1.14.0
bcrypt==4.0.1
contractions==0.1.73
emoji==2.15.0
fastapi==0.141.1
matplotlib==3.11.1
numpy==2.4.6
pandas==3.0.5
passlib==1.7.4
Pillow==12.3.0
psycopg2-binary==2.9.12
pydantic==2.13.4
python-dotenv==1.2.3
python-jose==3.5.0
python-multipart==0.0.32
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
spacy==3.8.16
SQLAlchemy==2.0.52
torch==2.13.0+cu126
transformers==5.16.1
uvicorn==0.52.4
wordcloud==1.9.6